<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Início
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Produtos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="products-container">
    <ion-card *ngFor="let product of products" (click)="openProduct(product.codigo)" class="product-card">
      <ion-card-header>
        <ion-card-title>{{ product.descricao }}</ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <div class="price-container">
          <span class="original-price">R$ {{ product.valorNormal | number:'1.2-2' }}</span>
          <span class="discount-price">R$ {{ product.valorComDesconto | number:'1.2-2' }}</span>
        </div>
        
        <div class="discount-badge">
          <ion-badge color="success">
            {{ getDiscountPercentage(product.valorNormal, product.valorComDesconto) }}% OFF
          </ion-badge>
        </div>
        
        <p class="product-code">Código: {{ product.codigo }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>